body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}
.creative{
  color: midnightblue;
}

@media(max-width:680px){
  .logo{
    width: 110px;
  }

  h1{
    font-size:3rem;
    text-align: center;
  }

  .card{
    width: 100%;
    display: block;
    margin-bottom: 30px;
    text-align: justify;
  }

  .card img{
    width:100%;
    margin-bottom: 15px;
    display: inline;
    object-fit:cover; /*It makes the img resizable to the replaced element*/
  }
}

  .tile-image{
    float:left;
    margin-right: 30px;
    height:200px;
  }

  .left{
    float:left;
  }

  .right{
    float:right;
  }
  
  .card{
    width: 45%;
  }
